<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin panel</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta2/css/bootstrap.rtl.min.css" integrity="sha512-kD8L6gTQF8GklhvSM17SNkYaPIiec0klHlY5581eXqOoKPVWWfJgzH5wpNcwKt3RKEQ7lqaqpm8yNnrui55wyQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Admin panel</a>
            <button class="navbar-toggler" data-bs-target="#my-nav" data-bs-toggle="collapse" aria-controls="my-nav"
            aria-expanded="false" aria aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="my-nav" class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/admin"><i class="bi bi-home me-1"> Home</i></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/addRecepie"><i class="bi bi-basket3-fill me-1"> Add recepie</i></a>
                </li>
              </ul>
              <li class="nav-item active">
                <a class="nav-link" href="/booking"><i class="bi bi-basket3-fill me-1"> Booking</i></a>
            </li>
          </ul>
        </div>
        </div>
      </nav>

      

      